@page
@model features.Pages.GoodsDonations.IndexModel
@{
}
<br />
<h2>List of Goods Donated</h2>
<a class="btn btn-primary btn-sm" href="/GoodsDonations/Create">New Donation</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DonoDate</th>
            <th>noOfItems</th>
            <th>category</th>
            <th>DonoDesc</th>
        </tr>
    </thead>
     <tbody>
        @foreach(var item in Model.listGoods)
        {
            <tr>
                <td>@item.name </td>
                <td>@item.donoDate </td>
                <td>@item.noOfItems </td>
                <td>@item.category </td>
                <td>@item.donoDesc </td>
                 <td>
                    <a class="btn btn-primary btn-sm" href="/GoodsDonations/Allocate?name=@item.name">Allocate</a>
                    <a class="btn btn-danger btn-sm" href="/GoodsDonations/Delete?name=@item.name">Delete</a>
                    
                </td>
            </tr>
        }
       
    </tbody>
</table>
